body {
  font-family: 'Poiret One', cursive;
  font-size: 25px;
   text-align: center;
overflow-x: hidden;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 16vh;
  background-color: #812B73;
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 3;
}
.logo{
  display: flex;
  align-items: center;
}
.logo a{
  letter-spacing: 5px;
  color: #EF820D;
  text-decoration: none;
}
.logo h4{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}
.logo img{
  height: 16vh;
  justify-content: center;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links a{
  color: #15ACC0;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
.nav-links li{
  list-style: none;
  font-family: 'Poiret One', cursive;
}
ul li.active a{
  text-shadow: 0px 0px 5px #D7722C;
  color: white;
}
.burger div{
  background-color: #EF820D;
  width: 25px;
  height: 3px;
  margin: 5px;
}
.burger{
  display: none;
}


@media screen and (max-width:768px){
   .nav-links {
     width: 60%;
  }
}
@media screen and (max-width:425px){
    body{
      overflow-x: hidden;
    }
   .nav-links{
     position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}
  .nav-active{
    transition: translateX(0%)
  }
  @keyframes navLinkfade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 0;
      transform: translateX(0px);
    }
  }
  #cart-items {
    position: absolute;
    top: 90%;
    right: 0%;
    z-index: 999;
    border: 0px !important;
    display: none;
  }


  #items-basket {
    position: absolute;
    display: none;
    top: -5px;
    left: -10px;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: red;
    color: white;

  }

  .cart {
    float: right;
    text-align: center;
    color: gray;
    position: relative;
  }

  .remove {
    color: Red;
  }




  html,
  body {
    height: 100%;
  }

  section {
    min-height: 100%;
  }

  .footer {
    position: absolute;
    width: 100%;
    background-color: var(--secondary);
  }

  .footer a {
    color: black;
  }

  #header-img:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    /*transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    transition: all 1s;*/
  }

  @keyframes Rotateme {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(270deg);
    }

    75% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  #header-img {
    animation-duration: 1s;
    animation-name: Rotateme;
    animation-iteration-count: infinite;
  }


  /* Hidden and visible elemnt from Bootsrap3.0 */
  /*\
   * Restore Bootstrap 3 "hidden" utility classes.
  \*/

  /* Breakpoint XS */
  @media (max-width: 575px) {

    .hidden-xs-down,
    .hidden-sm-down,
    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-lg,
    .hidden-unless-xl {
      display: none !important;
    }

  }

  /* Breakpoint SM */
  @media (min-width: 576px) and (max-width: 767px) {

    .hidden-sm-down,
    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-unless-xs,
    .hidden-unless-md,
    .hidden-unless-lg,
    .hidden-unless-xl {
      display: none !important;
    }
  }

  /* Breakpoint MD */
  @media (min-width: 768px) and (max-width: 991px) {

    .hidden-md-down,
    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-lg,
    .hidden-unless-xl {
      display: none !important;
    }
  }

  /* Breakpoint LG */
  @media (min-width: 992px) and (max-width: 1199px) {

    .hidden-lg-down,
    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-lg-up,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-xl {
      display: none !important;
    }
  }

  /* Breakpoint XL */
  @media (min-width: 1200px) {

    .hidden-xl-down,
    .hidden-xs-up,
    .hidden-sm-up,
    .hidden-md-up,
    .hidden-lg-up,
    .hidden-xl-up,
    .hidden-unless-xs,
    .hidden-unless-sm,
    .hidden-unless-md,
    .hidden-unless-lg {
      display: none !important;
    }
  }

  #mpesa {
    display: none;
    border-radius: 10px;
    margin-top: 10px;
  }

  #mpesab {
    display: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  #airtel {
    display: none;
    border-radius: 10px;
    margin-top: 10px;
  }

  #airtelb {
    display: none;
    border-radius: 5px;
    margin-top: 10px;

  }

  #visa {
    display: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #visab {
    display: none;
    border-radius: 5px;
    margin-top: 10px;
  }

  #mp {
    border-radius: 90px;
    background-color: rgba(38, 216, 38, 0.822);
    padding: 3px;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif !important;
  }

  #am {
    border-radius: 90px;
    background-color: rgba(233, 15, 15, 0.822);
    padding: 3px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
  }

  #vs {
    border-radius: 90px;
    background-color: rgba(78, 68, 219, 0.925);
    padding: 3px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  .img-thumbnail {
    width: 100%;
    height: 283px !important;

  }
  /*fardhosa css*/

.fa-truck{
   font-size: 200px;
}
.fa-file-text-o{
   font-size: 200px;
}
.fa-mobile{
   font-size: 200px;
}
#why-us {
    background-image: url();
    background-size: cover;
    width: 100%;
    height: auto;
}
div#about-us h3 {
   padding-top: 10%;
   font-family: 'Kaushan Script', cursive;
   font-size: 50px;
   color: black;
   font-style: bold;
   text-decoration-line: underline;
}
div#why-us h3 {
   padding-top: 7%;
   font-family: 'Kaushan Script', cursive;
   font-size: 50px;
   color: black;
   text-decoration-line: underline;
   border-bottom: 5px;
   border-color: black;
}
div#features h3{
   font-family: 'Kaushan Script', cursive;
   font-size: 50px;
   color: black;
   text-decoration-line:underline;
}
div#structure {
   text-align: center;
}
#features hr{
   font-family: 'Kaushan Script', cursive;
   font-size: 50px;
   color: #EF820D;
    text-align: center;
}
.h {
   font-family: 'Kaushan Script', cursive;
   font-size: 40px;
}
.iss{
   width:80px;
   height: 200px;
   margin-top: 30px;
}
.isp{
   width: 80%;
   height:80%;
}
.isss{
   width:100px;
   height: 100px;
   margin-top: 70px;
}
i:hover {
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s;
   /* When the animation is finished, start again */
   animation-iteration-count: infinite;
 }
 @keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
 }
 
 #contact h2{
     text-align: center;
     color: rgb(255, 255, 255);
     margin-top: 5%;
     margin-left: 400px;
 }
 .h{
   text-align: center;

 }
 .social-links {
   padding-left: 5px;

   }
   .info-box {
    color:white;
     margin: 20px 10px;
     padding: 30px;
     box-shadow: 1px 1px 2px #e7e7e7;
     border-radius: 4px;
     min-height: 275px;
   }

 #contacts{

    /* filter: blur(2px);
   -webkit-filter: blur(3px); */
 /* background-image: url("../images/address.jpg") !important; */
 height: 350px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: gray;
 }
 #contacts img
 {
 width: 100%;

 }

 .address-sec{

  position:absolute;
  margin-top: -15%;
  margin-left: 20%;
  color: white;


 }
 .address-sec a
 {
   font-size: 1.2em;
   color: white;
 }

 footer
 {
   margin-top: 80px;
   padding: 20px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   margin-right: 100px;

 }
 h2{
   margin-left: 500px;
   border-width: 5px;
   margin-right: 500px;
   font-size: 25px;
   color: white;
   margin-top: 150px;
   border-radius: 90px;
   font-family: 'Montserrat', sans-serif;
 }
 .line{
   margin-left: 480px;
   border-width: 5px;
   margin-right: 500px;
   font-size: 25px;
   color: white;
   margin-top: 15px;
   border-radius: 90px;
   font-family: 'Montserrat', sans-serif;
 }
 .conc{
   background-color: #fd5949;
   height: 500px;
   background-size: 100%;
   text-align: center;
 }
 .conc input{
   color: white;
   background-color: rgba(240, 255, 252, 0.342);
   width: 400px;
   margin-left: 20px;
   margin-top: 30px;
 }
 #submit {
   color:rgba(216, 197, 197, 0.507);
   width: 200px;
   margin-top: 15px;
   font-weight: bolder;
   background: transparent;

 }
 #message{
   height: 230px;

 }
 .rw3{
   margin-top: 15px;
   margin-left: 175px;
 }
 .foot {
   text-align: center;
   margin-top: 20px;
 }
 .foot h3 {
   font-size: 15px;
 }
 .foot h4 {
   font-size: 10px;
 }
 .boil{
   background-image: url(../images/contact.jpg);
 }
 #name
 {
   margin-left: 160px;
   background-color: #4fe215d8;
 }
 #email{
   background-color: #06d610ee;
 }
 #email input{
   background-color: #15ACC0;
 }
 #text{
   background-color: #c7c5c2;
   color: aqua;
   margin-top: 40px;
   width: 600px;
 }
 .contact-us{
   color: #eb830d;
   font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
 }
 .rw3{
   margin-left: 180px;
   margin-top: -50px;

 }
 img {
   max-width: 80%;
   margin-top: 0;
   margin-left: 0;
   color: #f2f4f6;
}
h2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 1.5em;
   font-weight: 400;
   color: #ff487e;
}
p {
   font-family: 'Montserrat', sans-serif;
}
.slider {
   position: relative;
   top: 1px;
   left: 0;
   width: 1220px;
   height: 600px;
   overflow: hidden;
   border-radius: 20px;
   margin-left: 200px;
   margin-right: 200px;
}
.form-control{
  background-color: #d6249f;
}
.slider .slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background: #000; */
   visibility: hidden;
   opacity: 0;
   animation: slider 20s linear infinite;
}
.slider .slide:nth-child(1) {
   animation-delay: 0s;
}
.slider .slide:nth-child(2) {
   animation-delay: 4s;
}
.slider .slide:nth-child(3) {
   animation-delay: 8s;
}
.slider .slide:nth-child(4) {
   animation-delay: 12s;
}
.slider .slide:nth-child(5) {
   animation-delay: 16s;
}
.slider .slide img {
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
}
.slider .slide .content {
   position: absolute;
   bottom: 50px;
   left: 50px;
   background: rgba(255, 255, 255, .9);
   padding: 50px;
   z-index: 1;
   max-width: 400px;
}
.slider .slide .content h2 {
   margin: 0;
   padding: 0;
   font-size: 48px;
}
.slider .slide .content p {
   margin: 10px 0 0;
   padding: 0;
   font-size: 18px;
}
@keyframes slider {
   0% {
       visibility: hidden;
       opacity: 0;
   }
   2% {
       visibility: visible;
       opacity: 1;
   }
   18% {
       visibility: visible;
       opacity: 1;
   }
   20%, 100% {
       visibility: hidden;
       opacity: 0;
   }
}
.product {
   width: 100%;
   height: 100%;
}
.slide {
   width: 900px;
   height: 800px;
}
/*osman css*/
img {
  max-width: 80%;
  margin-top: 0;
  margin-left: 0;
  color: #f2f4f6;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #ff487e;
}
p {
  font-family: 'Montserrat', sans-serif;
}
.slider {
  position: relative;
  top: 12px;
  left: 0;
  width: 1220px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  visibility: hidden;
  opacity: 0;
  animation: slider 20s linear infinite;
}
.slider .slide:nth-child(1) {
  animation-delay: 0s;
}
.slider .slide:nth-child(2) {
  animation-delay: 4s;
}
.slider .slide:nth-child(3) {
  animation-delay: 8s;
}
.slider .slide:nth-child(4) {
  animation-delay: 12s;
}
.slider .slide:nth-child(5) {
  animation-delay: 16s;
}
.slider .slide img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slider .slide .content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: rgba(255, 255, 255, .9);
  padding: 50px;
  z-index: 1;
  max-width: 400px;
}
.slider .slide .content h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}
.slider .slide .content p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 18px;
}
@keyframes slider {
  0% {
      visibility: hidden;
      opacity: 0;
  }
  2% {
      visibility: visible;
      opacity: 1;
  }
  18% {
      visibility: visible;
      opacity: 1;
  }
  20%, 100% {
      visibility: hidden;
      opacity: 0;
  }
}
.product {
  width: 100%;
  height: 100%;
}
.slide {
  width: 900px;
  height: 800px;
}
.social-icon
  {
   color: blue;
   margin-left: 3px;
  } 
  .social-icon3
  {
    margin-left: 10px;
    border-radius: 60px;
    background: #d6249f;
    background: radial-gradient(circle at 25% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  #contact h2{
      text-align: center;
      color: rgb(255, 255, 255);  
      margin-top: 5%;
      margin-left: 400px;
  }
  .h{
    text-align: center;
    
  }
  .social-links {
    padding-left: 5px;
      
    }
    .info-box {
     color:white;
      margin: 20px 10px;
      padding: 30px;
      box-shadow: 1px 1px 2px #e7e7e7;
      border-radius: 4px;
      min-height: 275px;
    }
  
  #contacts{
  
     /* filter: blur(2px);
    -webkit-filter: blur(3px); */
  /* background-image: url("../images/address.jpg") !important; */
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #15ACC0;
  background-size:cover; 
  }
  #contacts img
  {
  width: 100%;
  
  }
    
  .address-sec{
  
   position:absolute;
   margin-top: -15%;
   margin-left: 20%;
   color: white;
   
  
  }
  .address-sec a
  {
    font-size: 1.2em;
    color: white;
  }
  
  footer
  {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 100px;
  
  }
  h2{
    margin-left: 500px;
    border-width: 5px;
    margin-right: 500px;
    font-size: 25px;
    color: white;
    margin-top: 150px;
    border-radius: 90px;
    font-family: 'Montserrat', sans-serif;
  }
  .line{
    margin-left: 480px;
    border-width: 5px;
    margin-right: 500px;
    font-size: 25px;
    color: white;
    margin-top: 15px;
    border-radius: 90px;
    font-family: 'Montserrat', sans-serif;
  }
  .conc{
    height: 500px;
    background-size: 100%;
    text-align: center;
  }
  .conc input{
    color: white;
    background-color: rgba(240, 255, 252, 0.342);
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
  }
  #submit {
    color:rgba(216, 197, 197, 0.507);
    width: 200px;
    margin-top: 15px;
    font-weight: bolder;
    background: transparent;
   
  }
  #message{
    height: 230px;
   
  }
  .rw3{
    margin-top: 15px;
    margin-left: 175px;
  }
  .foot {
    text-align: center;
    margin-top: 20px;
  }
  .foot h3 {
    font-size: 15px;
  }
  .foot h4 {
    font-size: 10px;
  }
  .boil{
    background-image: url(../images/contact.jpg);
  }
  #name
  {
    margin-left: 160px;
    background-color: white;
  }
  #email{
    background-color: white;
  }
  #text{
    background-color: white;
    color: aqua;
    margin-top: 40px;
    width: 600px;
  }
  .contact-us{
    color: beige;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }
  .rw3{
    margin-left: 180px;
    margin-top: -50px;
  }
  #nav{
    position: relative;
  }